body{
    background-color: black;
}
h1{
    color: white;
    font-family: "press Start 2p", "consolas", sans-serif;
}
p{
    color: #00ff73;
    font-family: "consolas", sans-serif;
    font-style:italic;
    font-weight: bold;
    text-decoration: cyan dotted underline;
    font-size: 18px;
}