a:link{
    color:lawngreen;
    width: 100px;
}
a:visited{
    color:grey;
    width: 100px;
}
a:hover{
    color:tomato;
    width: 100px;
}
a:active{
    color:yellow;
    width: 100px;
}
button:hover{
    background-color:lightgray;
    color:yellow;
}
button:active{
    background-color:white;
    color:yellow;
}
/*
li:nth-child(1){
    background-color: aliceblue;
}
li:nth-child(2){
    background-color: antiquewhite;
}
li:nth-child(3){
    background-color: aqua;
}
    
li:nth-child(even){
    background-color: aqua;
}
li:nth-child(odd){
    background-color: antiquewhite;
}*/
li:nth-child(3n){
    background-color: aliceblue;
}